
   html { font-size:100.01%; }
   body {
     font-size: 75%;
     color: #222;
     background: #fff;
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
   }
   
   h2 { font-weight: normal; color: #111; }
   h2 { font-size: 2em; margin-bottom: 0.75em; }
   h2 img {
     margin: 0;
   }
   p           { margin: 0 0 1.5em; }
   
   .center { text-align: center; }
   img {display: block; margin-left: auto; margin-right: auto; padding: 6px;}
   .summary_box {margin: auto; width: 50%; border: 2px solid black; padding: 20px;}
   .info_box {border: 2px solid black;}
